{% extends 'dashboard.html.twig' %}

{% block content %}
{% if flag == false %}
    <div class="row row-cols-md-1">
        <div class="col">
            <div class="alert {{alert_type}} alert-dismissible fade show" role="alert">
                <div>{{ message | raw }}</div>
                <a type="button" href="#" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
            </div>
        </div>
    </div>
{% endif %}

<div class="row d-flex justify-content-center">
    <div class="d-flex justify-content-end">
    </div>
    <div class="col-12 col-md-6 mt-3 mb-5">
        <div class="card mt-4">
            <div class="card-header bg-primary">
                <h2 class="text-center my-1 fw-bold text-white" style="letter-spacing: 5px;">新增使用者</h2>
            </div>
            <div class="card-body">
                <form method="post" action="switch.php?mode=add_user_data" enctype="multipart/form-data">
                    <div class="m-4">
                        <label class="fw-bold fs-5 mb-2" for="name">使用者名稱</label>
                        <input type="text" class="form-control" id='name' name="username" placeholder="名稱限15字元以內" required>
                    </div>
                    <div class="m-4">
                        <label class="fw-bold fs-5 mb-2" for="acc">登入帳號</label>
                        <input type="email" class="form-control" id='acc' name="acc" placeholder="請輸入Email" required>
                    </div>
                    <div class="m-4">
                        <label class="fw-bold fs-5 mb-2" for="pwd">登入密碼</label>
                        <input type="password" class="form-control" id='pwd' name="pwd" required>
                    </div>
                    <div class="m-4">
                        <label class="fw-bold fs-5 mb-2" for="role">使用者身分</label>
                        <select class="form-control" id="role" name="role" required>
                            <option value="">請選擇身分</option>
                            <option value="nor-user">一般使用者</option>
                            <option value="adv-user">企業帳號</option>
                        </select>
                    </div>
                    <div class="row me-2">
                        <div class="col-12 col-md-12 d-flex justify-content-end ">
                            <a href="switch.php?mode=acc_manage" class="btn btn-outline-success" style="width: 100px; padding:10px;margin-right: 15px;"><strong>返回</strong></a>
                            <button type="submit" class="btn btn-outline-success" style="width: 100px; padding:10px"><strong>新增</strong></button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}