{% extends 'dashboard.html.twig' %}

{% block content %}
<div class="row row-cols-md-1 mt-5 mb-3">
    <div class="col">
        <div class="alert {{alert_type}} alert-dismissible fade show" role="alert">
            <div>{{message | raw}}</div>
            <button type="button" href="#" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<a href='att_list.php' class="btn btn-light">回到學員資料</a>
{% endblock %}